// View portの幅
$VIEW_PORT: (pc: 1920, tab: 1190, sp: 768);

$VIEW_PORT_WITH_PX: (pc: 1920px, tab: 1190px, sp: 768px);

// 基本フォントサイズ
$BASE_FONT_SIZE: 16;

// 色
$C_W: #fff;
$C_Y: #ebb94d;
$C_B: #016EA9;
$DARK_COLOR: #707070;
